@font-face {
  font-family: "Matter-Regular";
  src: url(~/assets/font/Matter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Matter-Bold";
  src: url(~/assets/font/Matter-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Matter-SemiBold";
  src: url(~/assets/font/Matter-SemiBold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Matter-Medium";
  src: url(~/assets/font/Matter-Medium.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

html {
  font-family: "Matter-Regular";
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

h1 {
  font-family: "Matter-SemiBold";
  font-size: 120px;
  color: #fefce4;
  letter-spacing: 1.1px;
  line-height: 120px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 400;

  @media (max-width: 1024px) {
    font-size: 90px;
    line-height: 90px;
  }

  @media (max-width: 480px) {
    font-size: 58px;
    line-height: 58px;
  }

  @media (max-width: 376px) {
    font-size: 54px;
    line-height: 54px;
  }
}

h2 {
  font-family: "Matter-SemiBold";
  font-size: 54px;
  color: #fefce4;
  letter-spacing: 1.1px;
  line-height: 54px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 400;

  @media (max-width: 480px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (max-width: 380px) {
    font-size: 32px;
    line-height: 32px;
  }
}

h3 {
  font-family: "Matter-Medium";
  font-size: 36px;
  color: #fefce4;
  letter-spacing: 0.8px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 400;

  @media (max-width: 480px) {
    font-size: 28px;
  }
}

h4 {
  font-family: "Matter-SemiBold";
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fefce4;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 400;

  @media (max-width: 480px) {
  }
}

h5 {
  font-family: "Matter-SemiBold";
  font-size: 14px;
  color: #fefce4;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 400;
}

h6 {
  font-family: "Matter-Regular";
  font-size: 16px;
  color: #fefce4;
  letter-spacing: 0.8px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 400;
}

p {
  font-family: "Matter-SemiBold";
  font-size: 14px;
  color: #fefce4;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 400;
}

.p {
  font-family: "Matter-Medium";
  font-size: 24px;
  color: #fefce4;
  margin: 0;
  line-height: 36px;
}

input {
  background: none;
  border: none;
  border-bottom: solid 1px #fefce4;
  font-family: "Matter-Regular";
  font-size: 24px;
  color: #fefce4;
  margin: 0;
  line-height: 36px;

  /* Remove focus outline on all input elements */
  input:focus {
    outline: none;
  }

  /* Optional: If you want to maintain some styling for accessibility */
  input::-moz-focus-inner {
    border: none;
  }

  /* Optional: If you want to maintain some styling for accessibility */
  input:focus::-webkit-inner-spin-button,
  input:focus::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
  }

  &::-webkit-input-placeholder {
    color: #fefce4;
    opacity: 0.5;
    font-size: 24px;
    font-family: "Matter-Regular";
  }
}

button {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Matter-SemiBold";
  font-size: 14px;
  color: #fefce4;
  margin: 0;
  background-color: transparent;
  border-radius: 50px;
  border: solid 1px white;
  letter-spacing: 0.5px;
  cursor: pointer;
}
