@font-face {
  font-family: "Matter-Regular";
  src: url(~/assets/font/Matter-Regular.woff) format("woff");
}

@font-face {
  font-family: "Matter-Bold";
  src: url(~/assets/font/Matter-Bold.woff) format("woff");
}

@font-face {
  font-family: "Matter-SemiBold";
  src: url(~/assets/font/Matter-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Matter-Medium";
  src: url(~/assets/font/Matter-Medium.woff) format("woff");
}

@font-face {
  font-family: "Matter-Bold-italic";
  src: url(~/assets/font/Matter-BoldItalic.woff) format("woff");
}

@font-face {
  font-family: "Matter-SemiBold-italic";
  src: url(~/assets/font/Matter-SemiBoldItalic.woff) format("woff");
}

html {
  font-family: "Matter-Regular";
}

h1 {
  font-family: "Matter-SemiBold";
  font-size: 120px;
  color: #fefce4;
  letter-spacing: 1.1px;
  line-height: 120px;
  margin: 0;

  @media (max-width: 1024px) {
    font-size: 90px;
    line-height: 90px;
  }

  @media (max-width: 480px) {
    font-size: 54px;
    line-height: 54px;
  }
}

h2 {
  font-family: "Matter-SemiBold";
  font-size: 54px;
  color: #fefce4;
  letter-spacing: 1.1px;
  line-height: 54px;
  margin: 0;

  @media (max-width: 380px) {
    font-size: 32px;
    line-height: 32px;
  }
}

h3 {
  font-family: "Matter-Medium";
  font-size: 36px;
  color: #fefce4;
  letter-spacing: 0.8px;
  margin: 0;

  @media (max-width: 480px) {
    font-size: 28px;
  }
}

h4 {
  font-family: "Matter-SemiBold";
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fefce4;
  margin: 0;
}

h5 {
  font-family: "Matter-SemiBold";
  font-size: 14px;
  color: #fefce4;
  margin: 0;
}

h6 {
  font-family: "Matter-Medium";
  font-size: 12px;
  color: #fefce4;
  letter-spacing: 0.8px;
  margin: 0;
}

p {
  font-family: "Matter-SemiBold";
  font-size: 14px;
  color: #fefce4;
  margin: 0;
}

.p {
  font-family: "Matter-Medium";
  font-size: 24px;
  color: #fefce4;
  margin: 0;
  line-height: 36px;
}

.bold {
  font-family: "Matter-Bold";
}

input {
  background: none;
  border: none;
  border-bottom: solid 1px #fefce4;
  font-family: "Matter-Regular";
  font-size: 24px;
  color: #fefce4;
  margin: 0;
  line-height: 36px;

  &:focus {
    border: none;
  }

  &::-webkit-input-placeholder {
    color: #fefce4;
    opacity: 0.5;
    font-size: 24px;
    font-family: "Matter-Regular";
  }
}

button {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Matter-SemiBold";
  font-size: 14px;
  color: #fefce4;
  margin: 0;
  background-color: transparent;
  border-radius: 50px;
  border: solid 1px white;
  letter-spacing: 0.5px;
  cursor: pointer;
}
